<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheet.css">
    <title>About | Exeter Domination</title>
</head>
<body>
    <h1>What is Exeter Domination?</h1>
    <p>
        Exeter Domination is a fun and interactive game designed to take students, new or old, around the beautiful Exeter
        University Campus with the idea of showing people areas they may not have seen before and giving interesting facts about them,
        all whilst they play a fun and engaging game.
    </p>
    <h2>The People behind Exeter Domination</h2>
    <p>
        This Project was made by Rory Smith, Ethan Gallagher, Treeve White, Thomas Osmond, Faris Kapes and Dan Owen for the ECM2434
        Group Software Engineering Project.
    </p>
    <input type="button" value="Home" onclick="location.href = '/play';">
</body>
</html>