<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static 'stylesheet.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Press Start 2P' rel='stylesheet'>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Play Game | Exeter Domination</title>
</head>

<body>
    <nav class="navbar navbar-expand-sm myNavbar navbar-dark">
        <div class="container-fluid justify-content-end">
            <ul class="navbar-nav">
                {% if request.user.is_authenticated %}
                <li class="nav-item px-3">
                    <a class="nav-link " href="/play">Home</a>
                </li>
                <li class="nav-item px-3">
                    <a class="nav-link" href="leaderboard">Leaderboard</a>
                </li>
                <li class="nav-item px-3">
                    <a class="nav-link" href="logout">Logout</a>
                </li>
                {% endif %}
                {% if not request.user.is_authenticated %}
                <li class="nav-item px-3">
                    <a class="nav-link " href="/play">Home</a>
                </li>
                <li class="nav-item px-3">
                    <a class="nav-link " href="login">Login</a>
                </li>
                <li class="nav-item px-3">
                    <a class="nav-link" href="signup">Sign Up</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <div class="container-fluid pt-5 main">
        <div class="d-flex flex-fill justify-content-center">
            <h1 class="arcade-font h-5">Exeter Domination</h1>
        </div>

        <div class="fluid-container p-3 d-flex flex-column justify-content-center">
            <noscript id="no_script"></noscript>
            <p>{{ request.user.id }}</p>
            <h3 class="Codle">Compete to Claim Building</h1>
            <p class="Codle">Please enter Computer Science related words until you get the correct answer. <br> Only then will you be able to claim the building.</p>
            <div id="grid"></div>
            {% load static %}
            <script src="{% static 'compSciWordle.js' %}"></script>  
        </div>

        <div class="d-flex p-2 flex-fill justify-content-center">
            <form action="/claim" method="get" class="d-flex flex-column justify-content-center">
                <input type="submit" class="formButton arcade-font" value="Claim Building" id="demo">
            </form>
        </div>
    </div>
</body>
</html>