<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheet.css">
    <title>Home | Exeter Domination</title>
</head>
<body>
    <h1>Exeter Domination</h1>
    <p>Dominating Exeter</p>
    <input type="button" class="buttons" value="Login" onclick="location.href = 'login';">
    <input type="button" class="buttons" value="Sign Up" onclick="location.href = 'signup';">
    <input type="button" class="buttons" value="About" onclick="location.href = 'about';">
    <input type="button" class="buttons" value="Leaderboards" onclick="location.href = 'leaderboard';">
</body>
</html>