<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leaderboards | Exeter Domination</title>
</head>
<body>
    <h1>Exeter Domination</h1>
    <p>These are the live current leaderboards for the game!</p>
    <br>
    <p>Player Name  |   Player Score</p>
    {% for score in player_scores %}
        <p>
        {% for column in score %}
            {{ column }} |
        {% endfor %}
        </p>
        <br>         
    {% endfor %}
</body>
</html>