<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static 'stylesheet.css' %}">
    {% load static %}
    <script src="{% static 'leaderboards.js' %}"></script>  
    <link href='https://fonts.googleapis.com/css?family=Press Start 2P' rel='stylesheet'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leaderboards | Exeter Domination</title>
</head>
<body>
    {% block nav %} {% include 'exeterDomination/navbar.html' %} {% endblock nav %}
    <div class="bg-image d-flex flex-column justify-content-center align-items-center backGroundImg">
        <div class="d-flex">
          <h1 class="arcade-font pageTitle">Exeter Domination Leaderboards</h1>
        </div class="d-flex">
        <div>
            <br><br>
        </div>
        <div class="d-flex box flex-column">
            <p>These are the live current leaderboards for the game!</p>
            <select class="form-select" id="leaderboardSelect" onchange="showDiv()">
                <option value=""></option>
                <option value="playersDiv">Players Leaderboard</option>
                <option value="teamsDiv">Teams Leaderboard</option>
            </select>
        </div>
        <div>
            <br>
        </div>
        <div class="d-flex box" id="tablesDiv">
            <p id="msg">Select a table to display</p>
            <div id="playersDiv">
                <table class="table table-bordered table-dark">
                    <thead>
                        <tr>
                            <th>Player Name</th>
                            <th>Player Domination Percent</th>
                        </tr>
                        <tbody>
                            {% for player,score in player_scores.items %}
                                <tr>
                                <td>{{ player }}</td>
                                <td>{{ score }}%</td>
                                </tr>         
                            {% endfor %}
                        </tbody>
                    </thead>
                </table>
            </div>
            <div id="teamsDiv">
                <table class="table table-bordered table-dark">
                    <thead>
                        <tr>
                            <th>Team Name</th>
                            <th>Team Domination Percent</th>
                        </tr>
                        <tbody>
                            {% for team,score in team_scores.items %}
                                <tr>
                                <td>{{ team }}</td>
                                <td>{{ score }}%</td>
                                </tr>         
                            {% endfor %}
                        </tbody>
                    </thead>
                </table>
            </div>
        </div>
</body>
</html>