<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheet.css">
    <title>Log In | Exeter Domination</title>
</head>
<body>
    <h1>Exeter Domination Login</h1>
    <p>Dominating Exeter</p>
    <div class="container">
      <label for="uname"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="uname" required>

      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" required>

      <button class="buttons" type="submit">Login</button>
    </div>
    <input type="button" class = "buttons" value="Home" onclick="location.href = '/play';">
</body>
</html>