<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheet.css">
    <title>Exeter Domination - Sign Up Page</title>
</head>
<body>
    <form action="action_page.php">
        <div class="top" style="text-align: center;">
          <h1>Exeter Domination Sign Up</h1>
          <p>Fill in this form to create an account.</p>
          <hr>
      
          <label for="email"><b>Email</b></label>
          <input type="text" placeholder="Email" name="email" required>
      
          <label for="psw"><b>Password</b></label>
          <input type="password" placeholder="Password" name="psw" required>
      
          <label for="psw-repeat"><b>Please Re-enter Password</b></label>
          <input type="password" placeholder="Repeat Password" name="psw-repeat" required>
      
          <div class="buttons">
            <button type="submit" class="signupbtn">Sign Up</button>  
            <button type="button" class="cancelbtn">Cancel</button>
          </div>
        </div>
      </form>
</body>
</html>