:root {
    --background: #ced0ce;
    --dark1Contrast: #3f403f;
    --dark2Contrast: #606360;
    --med1Contrast: #475841;
    --med2Contrast: #69140e;
    --lowContrast: #776472;
}

.navbar-nav > li > .dropdown-menu {
    background-color: var(--dark1Contrast);
}

.navbar-nav > li > .dropdown-menu a {
    color: var(--background);
}

.navbar-nav > li > .dropdown-menu a:hover {
    background-color: var(--dark1Contrast);
    color: rgba(255,255,255,.85);
}

.myNavbar {
    background-color: var(--dark1Contrast);
}

.mainTitle {
    color: var(--dark1Contrast);
    font-size: 5vw;
}

.pageTitle {
    color: var(--dark1Contrast);
    font-size: 3vw;
}

.box {
    background-color: var(--background);
    padding: 2vw;
    border: 2px solid var(--med1Contrast);
    border-radius: 20px;
}

.formButton {
    background-color: var(--med1Contrast);
    width: 15vw;
    height: 8vh;
    font-size: 1.5vw;
}

.claimBuilding {
    background-color: var(--med1Contrast);
    width: 15vw;
    height: 8vh;
    font-size: 1.25vw;
}

.cancelButton {
    background-color: red;
    width: 15vw;
    height: 8vh;
    font-size: 1.5vw;
}

.gameButton {
    background-color: var(--dark2Contrast);
    width: 8vw;
    height: 4vh;
    font-size: 1vw;
}

.arcade-font {
    font-family: 'Press Start 2P';
}

.Codle{
    text-align: center;
}

#grid{
    color: white;
    text-align: center;
    text-transform: uppercase;
}

.cell {
    width: 3vw;
    height: 5vh;
    border: 1px solid #aaa;
    display: inline-block;
    margin: 10px;
    font-size: 1vw;
    font-weight: bold;
}

.map {
    width: 70vw; 
    height: 60vh;
}

.backGroundImg{
    background-image: url("/static/campusOpaic.png");
    height: 94vh;
}

.ticTacToeBox {
    text-align : center;
    width: 100px;
    height: 100px;
    border: 2px solid var(--dark2Contrast);
    cursor: pointer;
    font-size: 60px;
}

.ticTacToeGrid {
    display:grid;
    grid-template-columns: repeat(3, auto);
    width:312px;
    margin:10px auto;
    background-color: var(--dark1Contrast);
    color: var(--background);
}

#teamsDiv {
    display: none;
}

#playersDiv {
    display: none;
}

@media screen and (max-width: 568px) {
    .mainTitle {
        color: var(--dark1Contrast);
        font-size: 10vw;
    }
    
    .pageTitle {
        color: var(--dark1Contrast);
        font-size: 5vw;
    }

    .cell {
        width: 9vw;
        height: 6vh;
        border: 1px solid #aaa;
        display: inline-block;
        margin: 5px;
        font-size: 3vw;
        font-weight: bold;
    }

    .formButton {
        background-color: var(--med1Contrast);
        width: 30vw;
        height: 10vh;
        font-size: 2vw;
        color: white;
    }
    
    .claimBuilding {
        background-color: var(--med1Contrast);
        width: 50vw;
        height: 8vh;
        font-size: 4vw;
        color: #ced0ce;
    }
    
    .cancelButton {
        background-color: red;
        width: 30vw;
        height: 10vh;
        font-size: 2vw;
        color: white;
    }
    
    .gameButton {
        background-color: var(--dark2Contrast);
        width: 40vw;
        height: 8vh;
        font-size: 4vw;
        color: #ced0ce;
    }

}